.b1{
    width: 190px;
    align-content: center;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-style: hidden;
    font-size: 30px;
    color: whitesmoke;
}

.b1:hover{
    background-color: rgba(134, 134, 134, 0.315);
    
}
.b2{
    width: 190px;
    align-content: center;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-style: hidden;
    border-color: black;
    color: whitesmoke;
    font-size: 30px;
}
.b2:hover{
    background-color: rgba(134, 134, 134, 0.315);
}
body{
    animation: bak 10s infinite;
  }
  img{
      border-radius: 60%;
  }


  
  @keyframes bak {
    /* You could think of as "step 1" */
    0% {
      background: rgb(253, 146, 146);
    }
    5%{
background: rgb(250, 131, 131);
    }
    /* You could think of as "step 2" */
    15% {
      background:  rgb(250, 165, 131);
    }
    20%{
        background:  rgb(226, 145, 91);
    }
    25%{
      background-color: rgb(252, 184, 120);
    }
    50%{
        background: rgb(250, 179, 131);
            }
            100% {
                background: rgb(253, 146, 146)
            }


        }
        .bp2{
            color: rgb(0, 0, 0);
        }
    
            body {
                overflow-x: hidden; /* Hide scrollbars */
               
              }
              html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}